@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap');
.container-fluid {
    max-width: 1190px;
}
body {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden;
}
.icon {
    width: 1.1em;
    height: 1.1em;
    display: inline-block;
}