@mixin large {
    @media (max-width: 1199px) {
        @content;
    }
}
@mixin medium {
    @media (max-width: 992px) {
        @content;
    }
}
@mixin small {
    @media (max-width: 767px) {
        @content;
    }
}

