mixin head(page_title)
    head
        meta(charset='UTF-8')
        meta(name='msapplication-TileColor', content='#da532c')
        meta(name='viewport', content="width=device-width,  user-scalable=no")
        meta(name='msapplication-TileImage', content='favicon/mstile-144x144.png')
        meta(name='theme-color', content='#ffffff')
        title #{page_title}
        link(rel='apple-touch-icon', sizes='60x60', href='favicon/apple-touch-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='favicon/apple-touch-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='favicon/apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='favicon/apple-touch-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='favicon/apple-touch-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='favicon/apple-touch-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='favicon/apple-touch-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='32x32', href='favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='194x194', href='favicon/favicon-194x194.png')
        link(rel='icon', type='image/png', sizes='192x192', href='favicon/android-chrome-192x192.png')
        link(rel='icon', type='image/png', sizes='16x16', href='favicon/favicon-16x16.png')
        link(rel='manifest', href='favicon/manifest.json')
        link(rel='mask-icon', href='favicon/safari-pinned-tab.svg', color='#5bbad5')
        link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900&amp;subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='style/libs.min.css')
        link(rel='stylesheet', href='style/main.css')
        script(src="js/libs.min.js")
        script(src="js/script.js")